

header {
	text-align: center;
}

.header-subpage {
	background-color: $background-a;
}

.header-subpage h1 {
	font-size: 34px;
	font-weight: 800;
	text-transform: uppercase;
	color: $secondary-color;
	padding: 85px 0;
	letter-spacing: 0px;
}


