
// ------------ HEADERS ------------

h1 {
	color: $primary-color;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 24px;
}

h2 {
	font-size: 34px;
	font-weight: 800;
	text-transform: uppercase;
}

h3 {
	font-size: 24px;
	font-weight: 800;
	text-transform: uppercase;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}
